# docker-compose.yml (Compose V2 : le champ "version" est inutile, on l'omet)
services:
  iotBadgeDoorSimulateor:
    build: ./iotsimulator
    container_name: iotBadgeDoorSimulateor
    image: badgeusedoor/iotbadgedoorsimulator
    environment:
      MQTT_HOST: "host.docker.internal"
      MQTT_PORT: "1883"
      SIMULATOR_DATA_DIR: "/data"
    ports:
      - "9002:9002"
    networks: [iot]
    volumes:
      - ./iotsimulator/simulator_data:/data
    restart: unless-stopped
  bridge:
    build: ./bridge
    container_name: bridge
    environment:
      MQTT_HOST: "host.docker.internal"
      MQTT_PORT: "1883"
      # MQTT_USER: ""
      # MQTT_PASS: ""
      BADGE_EVENTS_TOPIC: "iot/badgeuse/+/events"
      DOOR_CMDS_FMT: "iot/porte/{door_id}/commands"
      OPEN_ACTION: "open"
      AUTO_CLOSE_SEC: "5"  
      DEBOUNCE_SEC: "2"
    networks: [iot]
    restart: unless-stopped
    ports:
      - "9010:9010"

  entrance-cockpit-front:
    build: ./EntranceCockpitFront
    container_name: entrance-cockpit-front
    ports:
      - "4201:80"
    networks: [iot]
    restart: unless-stopped
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    restart: unless-stopped

    environment:
      MQTT_USER: "toto"
      MQTT_PASSWORD: "toto"

    ports:
      - "1883:1883"
      - "9001:9001"

    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
      - ./mosquitto:/init 
    entrypoint: ["/bin/sh", "/init/create-user.sh"]
 
networks:
  iot: {}


