# docker-compose.yml (Compose V2 : le champ "version" est inutile, on l'omet)
services:
  badgeuse-001:
    build: ./badgeuse
    image: iot-badgeuse:latest
    container_name: badgeuse-001
    environment:
      DEVICE_ID: "badgeuse-001"
      MQTT_HOST: "host.docker.internal"
      MQTT_PORT: "1883"
    ports:
      - "8000:8000"
    networks: [iot]
    restart: unless-stopped

  porte-001:
    build: ./porte
    image: iot-porte:latest
    container_name: porte-001
    environment:
      DEVICE_ID: "porte-001"
      MQTT_HOST: "host.docker.internal"
      MQTT_PORT: "1883"
    ports:
      - "8001:8001"
    networks: [iot]
    restart: unless-stopped

  orchestrator:
    build: ./orchestrator
    container_name: orchestrator
    environment:
      MQTT_HOST: "host.docker.internal"
      MQTT_PORT: "1883"
      IMAGE_BADGEUSE: "iot-badgeuse:latest"
      IMAGE_PORTE: "iot-porte:latest"
      # IMPORTANT: le vrai nom du réseau créé sera <projet>_iot (projet = nom du dossier en minuscules)
      DOCKER_NETWORK: "badgeusedoor_iot"
    ports:
      - "9002:9002"
    networks: [iot]
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./orchestrator/orchestrator_data:/data
    restart: unless-stopped
  bridge:
    build: ./bridge
    container_name: bridge
    environment:
      # Si ton broker est le conteneur mosquitto du compose :
      MQTT_HOST: "host.docker.internal"
      MQTT_PORT: "1883"
      # MQTT_USER: ""
      # MQTT_PASS: ""
      BADGE_EVENTS_TOPIC: "iot/badgeuse/+/events"
      DOOR_CMDS_FMT: "iot/porte/{door_id}/commands"
      OPEN_ACTION: "open"
      AUTO_CLOSE_SEC: "5"   # 0 pour désactiver la fermeture auto
      DEBOUNCE_SEC: "2"
    networks: [iot]
    restart: unless-stopped
    ports:
      - "9010:9010" 

networks:
  iot: {}
