@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optionnel: base styles */
:root {
  color-scheme: light dark;
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 999px;
  border: none;
}
